body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #447395d6;
}

.loginForm {
 width: 100%;
 padding: 0px 40px;
 box-sizing: border-box;
 max-width: 600px;
}
.inputField{
padding: 10px 0px;

}
.input{
  align-items: center;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #2b5c80eb;
  border: 0px;
  border-bottom: 4px solid #1c4664;
  font-size: 22px;
  color: #fff;
  outline: none;
}
.input::placeholder{
  font-size: 22px;
  color: #fff;
}
.input:focus::placeholder{
  padding-left: 100%;
  border-bottom: ;
  transition: padding-left 0.5s;
}
.input:focus{
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.2s;
}

